.catalog {
  display: flex;
  flex-direction: column;
}

.control-block {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  padding: 0 3em;
}

.not-found {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  padding: 2em;
}
