.catalog {
  display: flex;
  flex-direction: column;
  padding: 0 96px;
  margin-top: 20px;
}
.catalog-wrapper {
  display: flex;
  align-items: row;
  margin-top: 20px;
  gap: 2em;
}
.side-panel {
}
.control-block {
  margin: 24px auto 0;
  display: flex;
  flex-direction: row;
  padding: 0 3em;
}

.not-found {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  padding: 2em;
}

@media (max-width: 1100px) {
  .catalog {
    padding: 0 48px;
  }
}
@media (max-width: 600px) {
  .catalog {
    padding: 0 24px;
  }
  .catalog-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .side-panel {
    margin-bottom: 20px;
    width: 300px;
  }
  .not-found {
    font-size: 18px;
  }
  .control-block {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 0 3em;
  }
  .grid-container {
    justify-content: center;
  }
}
@media (max-width: 440px) {
  .control-block {
    flex-direction: column;
  }
}
