.catalog {
  display: flex;
  flex-direction: column;
  padding: 0 96px;
}
.catalog-wrapper {
  display: flex;
  align-items: row;
}
.side-panel {
  padding-top: 10em;
  flex-basis: 15%;
}
.control-block {
  margin: 24px auto 0;
  display: flex;
  flex-direction: row;
  padding: 0 3em;
}

.not-found {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  padding: 2em;
}
