.button {
  min-width: 276px;
  max-height: 52px;
  border: solid 2px #48484a;
  border-radius: 16px;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  color: #48484a;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  align-self: flex-start;
}

.button:hover {
  background-color: #48484a;
  color: #ffffff;
}
