.rs-logo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: 'Nunito';
  color: #1b2437;
  animation: pulsate 1s infinite;
  font-size: 1.4rem;
  margin: 24px 113px;
}
