.select-title {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
  color: #1b2437;
}

.select-wrapper {
  max-width: max-content;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sort-select {
  margin: 0 auto;
  width: 150px;
  height: 44px;
  border-radius: 5px;
  font-family: 'Mulish', sans-serif !important;
}

.select-item {
  font-family: 'Mulish', sans-serif !important;
}

fieldset {
  border: 0 !important;
}
