.form {
  min-height: 570px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 16px;
  background: #eda3b5;
}

.form-wrapper {
  font-family: 'Mulish', sans-serif;
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.auth-form {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-title {
  font-size: 34px;
  color: #48484a;
  text-align: center;
  letter-spacing: 0.1rem;
}

.button-login {
  font-size: 1.2rem;
  margin-top: 25px;
  padding: 15px;
  border: solid 2px #48484a;
  border-radius: 16px;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  color: #48484a;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}

.button-login:hover {
  background-color: #48484a;
  color: #ffffff;
}

.validation-message {
  font-family: 'Mulish', sans-serif;
  min-height: 18px;
  font-size: 0.8rem;
  margin: 5px 0;
  padding-left: 18px;
  align-self: flex-start;
}
.input-wrapper {
  position: relative;
  width: 100%;
}

.password-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.hide-toggle {
  background-image: url('../../assets/icons/LoginPage/hide-toggle.svg');
}
.view-toggle {
  background-image: url('../../assets/icons/LoginPage/view-toggle.svg');
}

@media (max-width: 399px) {
  .form-wrapper {
    width: 320px;
    padding: 12px;
  }
}
